/* .accord {
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.accord-visible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  height: 52px;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
  cursor: pointer;
}

.accord-visible > h2 {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.accord-toggle {
  color: #ff6060;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
}
.animated {
  transition: height 0.4 ease-in-out, opacity 0.4s 0.4s ease-in-out;
  opacity: 1;
}
.accord-toggle > p {
  margin: 0;
  pointer-events: none;
  line-height: 25px;
  padding: 4% 3% 4% 4%;
} */

.accord-visible {
  display: flex;
  width: 582px;
  max-width: 582px;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  height: 52px;
  border-radius: 10px;
  cursor: pointer;
}

.accord-visible h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding-left: 3%;
}

.accord-visible img {
  padding-right: 3%;
}

.accord-toggle {
  background-color: #f6f6f6;
}

.accord-toggle p {
  margin: 0;
}
