.container_slider {
  width: 87%;
  height: 415px;
  margin: 0 auto;
  margin-top: 2%;
}

.container_collapsible {
  width: 87%;
  display: flex;
  margin: auto;
  margin-top: 1%;
  justify-content: space-between;
}

.equipments {
  display: flex;
}

.container_information {
  display: flex;
  width: 87%;
  margin: auto;
  justify-content: space-between;
  margin-top: 1%;
}

.container_rating_host {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 175px;
}

.container_location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 635px;
}
.accommodation_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 36px;
  width: 100%;
  color: #ff6060;
  margin: 0;
  margin-bottom: 0;
}

.accommodation_city {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  color: #ff6060;
  margin: 0;
}

.bloc_location {
  margin-bottom: 3%;
}
.bloc_host {
  display: flex;
  justify-content: space-around;
  width: 210px;
}
.bloc_host p {
  margin: 0;
}
.host_img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.accommodation_host {
  width: 110px;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  text-align: right;
}

.container_rating {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: auto;
  margin-top: 1%;
}

.bloc_collapse {
  width: 582px;
}

.equipments_list {
  list-style-type: none;
}

.collapse_visible_btn_acco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 582px;
  background: #ff6060;
  border-radius: 10px;
  height: 52px;
  cursor: pointer;
  color: #fff;
}

.collapsible_item {
  width: 582px;
}

/* -------- Start Responsive  -------- */
@media screen and (max-width: 720px) {
  .container_slider {
    width: 92%;
    height: 255px;
    margin-top: 3%;
  }

  .container_information {
    display: block;
    margin-top: 3%;
    width: 92%;
    margin-bottom: 10%;
  }

  .accommodation_title {
    font-size: 18px;
  }

  .accommodation_city {
    font-size: 14px;
  }
  .container_rating_host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    align-items: center;
  }

  .bloc_host {
    width: 150px;
    height: 80px;
    align-items: center;
    gap: 10px;
  }

  .bloc_stars {
    width: 120px;
    height: 80px;
    align-items: center;
  }

  .accommodation_host {
    font-size: 12px;
  }

  .container_collapsible {
    width: 92%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 62%;
  }

  .collapsible_item {
    width: 100%;
  }

  .collapse_visible_btn_acco {
    width: 100%;
  }
}

@media screen and (max-width: 1360px) {
  .container_collapsible {
    flex-direction: column;
    gap: 20px;
  }
}

/* -------- End Responsive  -------- */
