.cards {
  width: 87%;
  margin: auto;
  margin-top: 3%;
}

/* -------- Start Responsive  -------- */
@media screen and (max-width: 720px) {
  .cards {
    width: 92%;
  }
  .display_bloc {
    justify-content: center;
    background: none;
  }
}
/* -------- End Responsive  -------- */
