.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  margin: auto;
  margin-top: 1%;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 289px;
  height: 34px;
}

.header_nav > a {
  color: #ff6060;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

a.active {
  text-decoration: underline;
}

.kasa-logo {
  width: 210px;
  height: 68px;
  margin-top: 1%;
}

/* -------- Start Responsive  -------- */
@media screen and (max-width: 720px) {
  .header {
    width: 92%;
    align-items: center;
  }
  .kasa-logo {
    width: 145px;
    height: 47px;
    margin-top: 3%;
  }

  .header_nav {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 3%;
  }

  .header a {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
  }
}
/* -------- End Responsive  -------- */
